.App {
  background-image: linear-gradient(black, orangered);
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
}

#white-text {
  color: white;
}


.Header {
  height: 10vh;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#pgp_logo {
  margin: auto;
  width: 70%;
  text-align: center;
}


#party_sloth {
  margin: auto;
  width: 60%
}


.About{
  margin: auto;
  width: 70vw;
  text-align: center;
}

#social-link-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row{
  display: flex;
  color: white;
}

.column{
  flex: 50%;
}

#concert-pic{
  margin: auto;
  width: 35vw;
  border-radius: 15%;
  border-radius: 10px solid white;
}

.social-icons{
  margin: auto;
  height: 5vh;
  width: 5vw;
}

#spotify{
  width: 70vw;
  border-radius: 12px;
}


#calendar-divs {
  margin: auto;
  border: 1px solid grey;
  width: 95vw;
  height: 12vh;
}

#calendar-text {
  color: white;
  margin: auto;
  vertical-align: middle;
}

.event-page-div {
  width: 95vw;
  height: 85vh;
  margin: auto;
  background-image: linear-gradient(darkgrey, black);
  text-align: center;
}

.event-page-text {
  color: black;
}

.event-poster {
  margin: auto;
  width: 70vw;
  max-height: 35vh;
}

#event-description{
  color: white;
  margin: auto;
  width: 70vw;
}

#ticket-link {
  color: orangered;
}

#lineup-div {
  color: white;
}

#search-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 95vw;
  height: 10vh;
  border: 1px solid grey;
  background-image: radial-gradient(darkslategrey, black);
  color: white;
}

#search-bar-content{
  align-content: center;
}

#event-form{
  background-color: black;
  color: white;
  margin: auto;
  width: 95vw;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#footer{
  background-image: radial-gradient(darkslategrey, black);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer-logo{
  width: auto;
  max-height: 50%;
  position: relative;
  bottom: -20px;
  
}

#footer-list{
  position: static;
}