.App {
  background-image: linear-gradient(black, orangered);
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
}

#white-text {
  color: white;
}


.Header {
  height: 10vh;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#pgp_logo {
  margin: auto;
  width: 70%;
  text-align: center;
}


#party_sloth {
  margin: auto;
  width: 60%
}


.About{
  margin: auto;
  width: 70vw;
  text-align: center;
}

#social-link-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row{
  display: flex;
  color: white;
}

.column{
  flex: 50%;
}

#concert-pic{
  margin: auto;
  width: 35vw;
  border-radius: 15%;
  border-radius: 10px solid white;
}

.social-icons{
  margin: auto;
  height: 5vh;
  width: 5vw;
}

#spotify{
  width: 70vw;
  border-radius: 12px;
}


#calendar-divs {
  margin: auto;
  border: 1px solid grey;
  width: 95vw;
  height: 12vh;
}

#calendar-text {
  color: white;
  margin: auto;
  vertical-align: middle;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
